*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    height: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
    
}
header a:hover{
    scale: 1.2;
}




header{
    display: flex;
    justify-content: space-between;
    background-image: url('tesla-coil.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 350%;
   
    

}

.li{
    text-align: center;
   
   
    
}

body{
    background-color: black;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    padding: 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    color: white;
}

.menu ul li a:hover{
    background-color: none;
    color: blue;
}

.menu ul{
    display: flex;
}

.his{
    padding-right: 260px;
}
.quest{

    padding-right: 220px;

}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 420%;
    margin: 15px,0px,15px,0px;
    padding: 0;
    justify-content: center;
    display: flex;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.7);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fcfcfc;
    color: black;

}

body{
    background-image: url('HistoriaFundo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    background-position: bottom;
}

.p1{
    margin: 60px;
    font-size: 230%;
    color: rgb(0, 0, 0);
    background-color: rgb(0,0,0); 
    background-color: rgba(224, 171, 128, 0.25);
    font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcfcfc;
    color: black;
}
.p2{
    margin: 60px;
    font-size: 230%;
    color: rgb(0, 0, 0);
    background-color: rgb(0,0,0); 
    background-color: rgba(224, 171, 128, 0.25);
    font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcfcfc;
    color: black;
}
.p3{
    margin: 60px;
    font-size: 230%;
    color: rgb(0, 0, 0);
    background-color: rgb(0,0,0); 
    background-color: rgba(224, 171, 128, 0.25);
    font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcfcfc;
    color: black;
}
.class1{
    width: 80%;
    height: 80%;
    margin: auto    ;
    padding: 15px;
    display: block;
   
   
}
.java{
    background-color: rgb(255, 187, 0);height: 30px;

   
}

label{
    margin: 0;
    margin-left: 60px;
    font-size: 230%;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcfcfc;
    color: black;
}

.name-input{
    width:300px
  }

.text-input{
    width:500px;
    height: 80px;
  }



.p7{
    margin: 60px;
    font-size: 230%;
    color: rgb(0, 0, 0);
    background-color: rgb(0,0,0); 
    background-color: rgba(224, 171, 128, 0.25);
    font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcfcfc;
    color: black;
}

.roda{
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('tesla-coil.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: start;
    
    
    }
    
    address{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    
        
    
    }
    address a {
       
        
       
        
        color: rgb(0, 124, 120);
        
        
    }
